<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#2ea44f" />
    <meta
      name="description"
      content="Get to know what's going on in any GitHub repository!"
    />
    <link rel="apple-touch-icon" href="logo192.png" />
    <title>What's Going On</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <%= yield %>
  </body>
</html>
